{{#block "Header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}}Heros{{/block}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">

    </head>
    </html>
{{/block}}
<body>
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">HOME</a></li>
        <li role="presentation" class="active"><a href="#">ADD NEW HERO</a></li>
        <li role="presentation" class="active"><a href="#">ADD NEW SQUAD</a></li>

    </ul>
</div>
<div class="page">
    <div class="page-header">
        <h1>Welcome to HEROSQUAD</h1>
    </div>
    {{#block "content"}}
    {{/block}}

</div>
{{#block "footer"}}
    </div>
    </body>
    </html>
{{/block}}
</body>